
.DS_Store
main
main
.vs/166-project/v16/.suo
.vs/166-project/v16/Browse.VC.db
.vs/166-project/v16/ipch/AutoPCH/691a09196aeb10cd/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
